name: bumblebee_school_final
description: "A new Flutter project."

publish_to: 'none' 


version: 1.0.0+1

environment:
  sdk: '>=3.4.3 <4.0.0'


dependencies:
  flutter:
    sdk: flutter


  cupertino_icons: ^1.0.6
  flutter_bloc: ^8.1.6
  bloc: ^8.1.4
  equatable: ^2.0.5
  http: ^1.2.2
  shared_preferences: ^2.3.2
  google_nav_bar: ^5.0.6
  image_picker: ^1.1.2
  intl: ^0.19.0
  flutter_secure_storage: ^9.2.2
  timeago: ^3.7.0
  path: ^1.9.0
  file_picker: ^8.1.2
  permission_handler: ^11.3.1

dev_dependencies:
  flutter_test:
    sdk: flutter


  flutter_lints: ^3.0.0



flutter:


  uses-material-design: true

  assets:
  - assets/

